.container {
    width: 100vw;
}

.list-nav {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #5f5f5f;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
}

.list-nav__tab {
    color: #5f5f5f;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    margin-left: 120px;
}

.list-nav__tab.active {
    color: #ff0000;
    font-weight: bold;
}

.item__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    gap: 60px;
}

.item-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.item-name {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
}